@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-Light.otf');
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-Semibold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-LightItalic.otf');
    font-style: italic;
    font-weight: 300;
}