/*img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }
*/

/***** Top content *****/

/*.inner-bg {
    padding: 40px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}*/

.form-box {
	/*padding-top: 40px;*/
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.10);
    box-shadow: 0 1px 5px rgba(0,0,0,0.10);
}

/*.form-top {
	overflow: hidden;
	padding: 0 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	/*line-height: 100px;*/
	text-align: right;
	opacity: 0.3;
    height: 89px;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.form-bottom p { opacity: 0.8; color: #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 40px 0 110px 0; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

}*/

/* checkbox style */
.checkbox-btn input[type="checkbox"]:checked+label::after, .checkbox-btn input[type="radio"]:checked+label::after, .radio-btn input[type="checkbox"]:checked+label::after, .radio-btn input[type="radio"]:checked+label::after{
	border: 1px solid #555;
}
.checkbox-btn label::after, .radio-btn label::after{
	border: 1px solid #555!important;
	background-color: transparent;
}
.checkbox-btn label::before, .radio-btn label::before{
	margin-left: -20px;
    border-color: #555;
    border-width: 1px;
}
.checkbox-btn input[type="checkbox"]:checked+label, .checkbox-btn input[type="radio"]:checked+label, .radio-btn input[type="checkbox"]:checked+label, .radio-btn input[type="radio"]:checked+label{
    color: #555;
}
.checkbox-btn label, .radio-btn label{
	font-weight: normal;
    color: #555;
    line-height: 20px;
    padding-left: 15px;
}
.checkbox-btn label span{
	opacity: 0.8;
}

.red-btn:hover {
    opacity: 1.0;
    text-decoration: none;
}
.red-btn {
    margin-left: 8px;
    opacity: 0.7;
    font-weight: 400;
    background: #f00;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    padding: 0 16px;
    font-size: 16px;
    color: #fff;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 1px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.1);
    border: .08em solid rgba(0,0,0,.06)!important;
}

.each-column {
    width: 49%;
    padding: 30px;
    float: left;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.10);
    box-shadow: 0 1px 5px rgba(0,0,0,0.10);
}

.light-style-input {
    width: 100%!important;
    height: auto;
    padding: 12px;
    margin-bottom: 14px;
    font-size: 16px;
    color: #333333;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px rgba(145,145,145,0.1) inset,0 3px 2px rgba(145,145,145,0.1) inset;
    -webkit-box-shadow: 0 0 2px rgba(145,145,145,0.1) inset, 0 3px 2px rgba(145,145,145,0.1) inset;
    box-shadow: 0 0 2px rgba(145,145,145,0.1) inset, 0 3px 2px rgba(145,145,145,0.1) inset;
    transition: color .3s ease-out 0;
    border: 1px solid #c5ccd1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(238, 238, 238, 0.50);
}
